.navbar{
    margin-bottom: 5%;
    justify-content: space-between;
    width:45%;
}

.nav-link{
    color: red;
}

.produto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produtoInterno{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    align-self: center;
    text-align: center;
}

.nomeProduto{
    margin-top: 3%;
}

.produtoImg{
    height: 100%;
    width: 100%;
}

.preco{
    color: forestgreen;
    font-weight: bold;
}

.botao{
    margin-bottom: 5%;
}

.botao:disabled, button[disabled]{
    background-color: brown;
    border-color: brown;
}

.alert{
    width: 30%;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }