.navbar{
    margin-bottom: 5%;
    justify-content: space-between;
    width:45%;
}

.produto{
    display: flex;
}

#botaoExcluir{
    width: 2%;
    height: 2%;
    margin-top: 0.25%;
}

.btn-success:disabled{
    background-color: brown;
    border-color: brown;
}

.nav-link{
    color: red;
}

.alert{
    width: 20%;
    height: 10%;
}